.pointer {
    cursor: pointer;
}

table>th{
    margin-right: 5em;
    margin-left: 5em;
}

// Display Vertical Border Line
.vertical-border {
    border-right: solid 0.1em black;
    padding-right: 0.5em;
}